

  <div class="container pt-4">
    <div class="row justify-content-center">
      <div class="col-12 col-lg-6">
        <div class="card rounded-xl">
          <div class="card-header">
            Meet Einstein 🐕 the time-traveling pup coin from 'Back to the Future'
          </div>
          <div class="card-body">
            <label for="">Deposit MPH</label> <a class="text-secondary small ml-3" href="https://etherscan.io/token/0x8888801af4d980682e47f1a9036e589479e835c5" target="_blank">Etherscan</a>
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">MPH</span>
              </div>
              <input type="text" class="form-control" placeholder="0.00" aria-label="" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Max</button>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-auto">
                <button class="btn btn-lg btn-rounded-circle btn-white"><img src="./assets/img/swap_vert_white_24dp.svg" class="" alt="Swap vertical icon"></button>
              </div>
            </div>
            <label for="">Get EIN</label><a class="text-secondary small ml-3" href="https://etherscan.io/token/0x8888801af4d980682e47f1a9036e589479e835c5" target="_blank">Etherscan</a>
            <div class="input-group input-group-lg mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-lg">EIN</span>
              </div>
              <input type="text" class="form-control" placeholder="0.00" aria-label="" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Max</button>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="row">
              <div class="col-6">
                <a class="btn btn-lg btn-block btn-outline-white glowing" href="">Approve</a>
              </div>
              <div class="col-6">
                <a class="btn btn-lg btn-block btn-bg-gradient border-0 glowing" href="">Mint</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-auto">
            <p class="text-center text-secondary">Einstein - Doc Brown's sheepdog in the Back to the Future movies is, of course, the first of any of the characters who actually travels in time. A true pioneer!</p>
            <p class="text-center text-secondary">Einstein coin brought to you by <a class="link-underlined" href="https://88mph.app" target="_blank">88mph.app</a></p>
          </div>
        </div>
      </div>
    </div>

  </div>